<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <div style="height: 55%;">
          <img class="character-img" src={{characterImage}} alt="{{characterImage}}">
          <div class="img-content">
            <p class="name">RICK SANCHEZ</p>
            <p class="specie">Human</p>
          </div>
        </div>
      </div>
      <div class="blog-slider__content">
        <div class="blur-img">
          <img class="character-img-background" src={{characterImage}} alt="{{characterImage}}">
          <div class="btn-position">
            <button (click)="closeDetailCard()" class="btn">Close</button>
          </div>
        </div>
        <div class="info">
          <div>
            <p class="info-title">ABOUT</p>
            <p style="margin-bottom: 63px;; color: #D3D3D3;" class="info-description">{{aboutDescription}}</p>
          </div>
         
          <div>
            <p class="info-title">ORIGIN</p>
            <p class="info-description info-type">{{originType}}</p>
            <p class="info-description info-name">{{originName}}</p>
            <p class="info-description info-dimension">{{originDimension}}</p>
            <p class="info-description  info-residents"><mat-icon class="info-icon" style="margin-right: 10px">supervisor_account</mat-icon>{{originResidents}} residents</p>
          </div>

          <div>
            <p class="info-title">LOCATION</p>
            <p class="info-description info-type">{{locationType}}</p>
            <p class="info-description info-name">{{locationName}}</p>
            <p class="info-description info-dimension">{{locationDimension}}</p>
            <p class="info-description info-residents"><mat-icon class="info-icon" style="margin-right: 10px">supervisor_account</mat-icon>{{locationResidents}} residents</p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>