// @import url(../../theme.scss);

$primary: #ffffff;
$accent: #cbd736;
$warn: #f44336;

.form {
  position: absolute;
  width: 196px;
  height: 42px;
  left: calc(50% - 196px / 2 - 50px);
  top: 326px;
  box-sizing: border-box;
  color: white;
  background: transparent;
  z-index: 10;
}

.btn {
  width: 84px;
  height: 46px;
  left: calc(50% - 84px / 2 + 106px);
  top: 326px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  color: white;
  background: transparent;
  cursor: pointer;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  z-index: 10;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: $accent;
  border-color: $accent;
  box-shadow: 0px 0px 7px $accent;
}

::placeholder {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.card-content {
  position: absolute;
  background: #141414;
  bottom: 0;
  text-align: left;
  width: 100%;
  padding: 3px 11px;
  opacity: 1;
  height: 51px;
  color: white;
  font-weight: 600;
}

.card-list {
  display: flex;
  margin-top: 35%;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 223px;
  height: 223px;
  display: flex;
  background: #1b1b1b;
  border: 2px solid #606060;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  margin: 24px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover,
.card:active {
  border: 2px solid #cbd736;
  box-shadow: 0px 0px 0px 3px #c9d636, 0px 0px 5px 4px #c9d636,
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
}

.card-image {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
}

.toolbar {
  background-color: rgba(54, 54, 54, 0.9);
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  left: 0px;
  display: none;
  z-index: 2;
}

.container .card {
  position: relative;
  overflow: hidden;
  width: 187px;
  height: 187px;
  background: #1b1b1b;
  border: 2px solid #606060;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 24px;
}

.container .card .img-card {
  position: absolute;
  top: 50%;
  z-index: 10000;
  width: 110%;
}

.container .card .img-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 224px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
}

.container .card .content-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.name {
  font-size: 20px;
  margin: 0;
}

.species {
  font-size: 12px;
  font-weight: 400;
  margin: 2px 0px;
}

.character-dead {
  filter: grayscale(100%);
}

.limit-letters {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.card-info {
  width: 100%;
  bottom: 0;
  filter: blur(40px) grayscale(100%);
  z-index: 0;
  left: 0px;
  height: 56px;
  position: absolute;
}

@media only screen and (max-width: 950px) {
  .card-list {
    margin-top: 60%;
  }

  .btn,
  .form {
    top: 167px;
  }
}

//pagination
$main-color: #f0f0f0;
$secondary-color: #cbd736;

@mixin display-child($n) {
  @for $i from 2 through $n {
    &:nth-child(#{$i}) {
      a {
        display: inline-block;
      }
    }
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.pagination-container {
  position: relative;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  float: left;
  counter-reset: pagination;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
  ul {
    width: 100%;
  }
}

ul,
li {
  list-style: none;
  display: inline;
  padding-left: 0px;
}

li {
  counter-increment: pagination;
  &:hover {
    a {
      color: $secondary-color;
      cursor: pointer;
    }
  }
  &:focus {
    a {
      color: $secondary-color;
    }
  }
  &.active {
    a {
      color: $secondary-color;
    }
  }
  &:first-child {
    a {
      display: inline-block;
    }
    a:after {
      content: "<";
    }
  }
  &:last-child {
    a {
      display: inline-block;
    }
    a:after {
      content: ">";
    }
  }
  a {
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
    margin: 10px;
    font-size: 1.4rem;
  }
}
