<mat-form-field class="form" appearance="fill">
  <input tabindex="1" matInput placeholder="Search characters" [(ngModel)]="characterName">
  <!-- <mat-error *ngIf="characterName.invalid">{{getErrorMessage()}}</mat-error> -->
</mat-form-field>
<button tabindex="2" (click)="searchCharacter()" (keyup.enter)="searchCharacter()" class="btn" mat-stroked-button>Search</button>

<div class="card-list">
  <div class="card" *ngFor="let character of characters"  (click)="showCharacterDetails = true">
    <div>
      <img class="card-image" src={{character.image}} alt={{character.name}}>
    </div>
    <div class="card-content">
      <h4 class="name">
        {{character.name}}
      </h4>
      <p class="species">{{character.species}}</p>
    </div>
  </div>
</div>

<div></div>

<app-character-detail *ngIf="showCharacterDetails"></app-character-detail>
<!-- <app-character-card *ngIf="showCharacter"></app-character-card> -->