*{
  font-family: 'Nunito', sans-serif;
}

$primary: #ffffff;
$accent: #cbd736;
$warn: #f44336;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mat-error {
  color: $warn;
  margin-top: 10px;
}

.mat-form-field-flex {
  border: 2px solid #ffffff;
  border-radius: 8px!important;
  outline: none;
  color: white;
  padding: 10px 14px !important;
}

.mat-form-field-flex:hover {
  border-color: $accent;
  box-shadow: 0px 0px 7px $accent;
}

.mat-card {
  position: relative;
  width: 187px;
  height: 187px;
  background: #1b1b1b;
  border: 2px solid #606060;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 24px;
}

.mat-card:hover,
.mat-card:active {
  border: 2px solid #cbd736;
  box-shadow: 0px 0px 0px 3px #c9d636, 0px 0px 5px 4px #c9d636,
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
}

.mat-card-image {
  width: 224px;
  height: 169px;
}